<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Домашние задания </title>
</head>
<body>
    <div>
        <h1> Домашние задания </h1>
        <h3> Модуль № 18. Представления и шаблоны </h3>

        <ol>

            <li>
                <p>
                    Домашнее задание по теме "Urls и Views. Функциональное и классовое представление.":
                    <ul>
                        <li><a href="/func"> Функциональное представление </a></li>
                        <li><a href="/class"> Классовое представление </a></li>
                    </ul>
                </p>
            </li>

            <li>
                <p>
                    Домашнее задание по теме "Базовые HTML тэги в шаблонах":
                    <ul>
                        <li><a href="/platform"> Магазин игр </a></li>
                    </ul>
                </p>
            </li>

            <li>
                <p>
                    Домашнее задание по теме "DTL. Теги, наследование.":
                    <ul>
                        <li><a href="/platform4"> Магазин игр </a></li>
                    </ul>
                </p>
            </li>

            <li>
                <p>
                    Домашнее задание по теме "Формы отправки данных. HTML и Django формы":
                    <ul>
                        <li><a href="/registration_html"> Отправка с помощью HTML </a></li>
                        <li><a href="/registration_django"> Отправка с помощью Django </a></li>
                    </ul>
                </p>
            </li>

        </ol>

    </div>
</body>
</html>